---
import { Icon } from 'astro-icon';
import { SITE } from '~/config.mjs';

const items = [
	{
		step: 1,
		title: 'Quickly make data-driven decisions',
		description: 'Confidently prove decisions and requests equipped with the right data at the right time.',
	},
	{
		step: 2,
		title: 'Simplify your day-to-day',
		description: 'Our easy-to-use solutions are designed for all - we are sure you will enjoy it.'
	},
	{
		step: 3,
		title: 'Switch from reactive to proactive mode',
		description: 'Shifting from fire-fighter to preventive expert means higher ROI and significant cost reductions.',
	},
];
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-heading">
								Ready to see what <span class="font-bold">{SITE.name}</span> can do for you?
							</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								See how quickly our asset reliability software can boost your organization’s efficiency and achieve
								operational excellence.
							</p>

							<div class="w-full">
								<a class="btn btn-primary mb-4 sm:mb-0" href={SITE.signupUrl} target="_blank" rel="noopener">
									<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Request a demo
								</a>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							{
								items.map(({ step, title, description }) => (
									<li class="flex md:-mx-4">
										<div class="pr-4 sm:pl-4">
											<span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600">
												{step}
											</span>
										</div>
										<div class="px-4">
											<h3 class="mb-4 text-xl font-semibold font-heading">{title}</h3>
											<p class="text-gray-500 dark:text-gray-400">{description}</p>
										</div>
									</li>
								))
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
